body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

/* MAIN */
#root {
	height: 100%;
	/* display: flex; */
	/* justify-content: center; */
	background-color: #1c3454;
}

.stage {
	height: 100vh;
}

/* Navigation Styles */
nav {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
	background-color: #DB1C97;
	padding: .25rem;
	margin: 0;
	padding: 0;
	width: 100%;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.25rem;
}

.nav {
	display: flex;
	align-items: center;
	/* width: 50%; */
	height: 5rem;
}

.navLeft {
	/* justify-content: center; */
	align-items: center;
	/* flex-wrap: nowrap; */
	/* flex-direction: column; */
	/* justify-content: start; */
	/* gap: 3rem; */
	width: 30%;
	gap: 1rem;
	/* height: 100%; */
	padding-left: 3rem;
}

.navLeft img,
.itgLogo {
	align-self: center;
	margin: 0;
	padding: 0;
}

.navLeft p {
	font-weight: 400;
	font-size: 1.5em;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.navRight {
	justify-content: end;
	gap: 3rem;
	width: 70%;
	padding-right: 3rem;
	height: 100%;
}

.userAvatarContainer {
	width: 64px;
	height: 64px;
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	background-color: #FFFFFF;
	transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	overflow: hidden;

	.logoutButton {
		width: 0px;
		overflow: hidden;
	}
}

.userAvatarContainer:hover {
	width: 170px;
	padding: 0;
	transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;

	.logoutButton {
		width: 100px;
	}
}


.logoutButton {
	width: 100px;
	height: 40px;
	top: 20px;
	right: 60px;
	font-size: 1rem;
	cursor: pointer;
	color: #DB1C97;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
}

.userAvatar {
	top: 8px;
	width: 60px;
	/* right: 0; */
	/* height: 50%; */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #FFFFFF;
	transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
}

a {
	color: #1c3454;
	text-decoration: none;
}

.float {
	position: absolute;
	display: block;
}

.itgLogo {
	width: 40px;
	height: 40px;
}

.footer {
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	background-color: #1f2d3d;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
}

/* Single Banner & Frames*/
.singleBanner {
	width: 100%;
	height: 100%;
	display: flex;
	/* flex-wrap: nowrap; */
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 0px;
	/* width: 100%; */
	/* background-color: #FFF000; */
}

.iframe_and_frames_container {
	display: flex !important;
	position: relative;
	flex-direction: row !important;
	/* width: 200% !important; */
	/* height: 100%; */
	gap: 50px;
	/* overflow: hidden; */
	background-color: green;
}

.onionSkin {
	/* display: inline-block; */
	/* display: block; */
	/* position: absolute; */
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	/* margin-top: 0px; */
	/* left: 0px; */
	/* height: 100% !important; */
}

.frames {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;

	/* position: relative; */
	/* display: inline; */
	/* margin-top:100px; */
	/* left: 0px; */
	/* height: 200% !important; */
}

.banner-iframe {
	display: inline-block;
	top: 100px;
	left: 0px;
	/* border: 10px solid #0000FF; */
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	gap: 20px;
	/* background-color: #DB1C97; */
	margin-bottom: 20px;
}

.framesContainer {
	display: flex;
	flex-direction: column;
}

.pagination {
	display: flex;
	justify-self: center;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 50%;
	height: 50px;
	/* margin-top: 20px; */
	/* background-color: blue; */
}
.paginationNumber {
	padding: 10px;
	color: #FFFFFF;
	font-size: 1.5rem;
}


.frame {
	/* opacity: .25; */
	display: block;
	margin-bottom: 10px; /* Add some spacing between frames */
	pointer-events: none; /* Disable pointer events for frames */
}

.radioButtonsContainer {
	margin-bottom: 100px;
}

.radioToggle {
	width: 50px;
	line-height: 100px;
	/* display: flex; */
	/* gap: 0px; */
	/* margin-top: 20px; */
	/* float: left; */
	/* white-space:nowrap; */
	/* background-color: #333333; */
}

.hidden {
	display: none;
}

/* Google Icons */
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}


.projectStyle {
	font-weight: 600;
	color: #DB1C97;
}


/* REGISTER */
.formContainer {
	display: flex;
	justify-content: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.itgForm {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	min-width: 600px;
	padding: 2vh;
	color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 20px;
	/* border: 3px solid #000000; */
	padding: 0;
	/* margin: 0; */
	overflow: hidden;

}

.registerForm>label>input {
	width: 98%;
	height: 2rem;
	font-size: 1rem;
}

/* .registerForm > button {
	margin-top: 20px;
	align-self: center;
	width: 50%;
	height: 30px;
} */

.formTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #DB1C97;
}

.formBottom {
	width: 100%;
	/* height: 100%; */
	/* margin: 0; */
	color: #000000;
	padding: 20px 40px;
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loginBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.two-column-form-left {
	width: 90%;
}

.two-column-form-right {
	width: 90%;
	margin-left: 10px;
}

.bumpLabel-right {
	margin-left: 10px;
}

.hint {
	font-style: italic;
	font-size: 0.8rem;
	color: #DB1C97;
	margin-top: 5px;
}

.textLink {
	text-decoration: none;
	color: #DB1C97;
}

.one-column-layout {
	display: grid;
	grid-template-columns: 1fr;
}

.two-column-layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.formLogo {
	padding-top: 30px;
	width: 122px;
	/* height: 1rem; */
}

input {
	width: 400px;
	height: 1.5rem;
	margin-bottom: 12px;
}

form button {
	justify-self: center;
	align-self: center;
	width: 150px;
	height: 50px;
	border-radius: 1000px;
	/* margin-top: 40px; */
	font-size: 1rem;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #DB1C97;
	border: 1px solid #DB1C97;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	transition: .15s;
}


form button:hover {
	color: #DB1C97;
	background-color: #FFFFFF;
}

.logoAndName {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.logoAndName h1 {
	font-size: 3rem;
	line-height: 3rem;
	padding-top: 1.5rem;
}

/* Organizations */
.orgLogo {
	height: 70px;
}